<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign up</title>
  </head>
  <body>
    <h1>sign up</h1>
    <form action="/" method="get">
      <label for="email">
        email
        <br />
        <input type="email" name="email" id="email" />
      </label>
      <br />
      <br />
      <label for="passwd">
        password
        <br />
        <input type="password" name="passwd" id="passwd" />
      </label>
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
